<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            SneakPeak
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Sneaker?filter=Nike">
                        <img src="/img/Nike logo.svg" width="50" height="50" alt="Nike" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item">
<<<<<<< HEAD
                    <a class="nav-link" href="/Sneaker?filter=Jordan"><img src="/img/Jumpman logo.png" width="40" height="40"
                            alt="Jordan" class="img-fluid">
=======
                    <a class="nav-link" href="/Sneaker?filter=Jordan"><img src="./img/Jumpman logo.png" width="40"
                            height="40" alt="Jordan" class="img-fluid">
>>>>>>> 4effa4bb2ce5dc0a9caf5b06b84878df596cb103
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Sneaker?filter=Adidas">
                        <img src="/img/Adidas Logo.png" width="50" height="50" alt="Adidas" class="img-fluid">
                    </a>
                </li>

            </ul>

            <form class="form-inline ml-auto" action="/search" method="get">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Sneaker?filter=Adidas">
                            <p>Catalogo</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        {{#if LoggedIn}}
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#popupModalWithSession">
                            <span class="bi bi-person-circle"></span>
                        </a>
                        {{else}}
                        <a class="nav-link" href="#" data-toggle="modal" data-target="#popupModalNoSession">
                            <span class="bi bi-person-circle"></span>
                        </a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cart">
                            <span class="bi bi-cart-fill"></span>
                        </a>
                    </li>
                </ul>
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
                    name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </nav>
    {{!-- Popups --}}
    <div class="modal fade" id="popupModalNoSession" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="popupModalLabel">SneakPeak <i class="bi bi-gear"></i></h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-unstyled text-center">
                        <li><a href="/Login" class="text-dark"><em>Iniciar Sesión</a></em></li>
                        <li><a href="/help" class="text-dark"><em>Ayuda</em></a></li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary bg-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!--popup con sesion-->
    <div class="modal fade" id="popupModalWithSession" tabindex="-1" role="dialog" aria-labelledby="popupModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark">
                    <h5 class="modal-title text-light" id="popupModalLabel">SneakPeak <i class="bi bi-gear"></i></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group list-unstyled text-center">
                        <li><a href="/help" class="text-dark"><em>Ayuda</em></a></li>
                        <li><a href="/config" class="text-dark"><em>Configuración</em></a></li>
                    </ul>
                </div>
                <form action="/logout" method="post">
                    <div class="modal-footer justify-content-center">
                        <button type="submit" class="btn btn-secondary bg-danger">Cerrar Sesión</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>