<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            SneakPeak
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#Nike">
                        <img src="./img/Nike logo.svg" width="50" height="50" alt="Nike" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Jordan"><img src="./img/Jumpman logo.png" width="40" height="40"
                            alt="Jordan" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Adidas">
                        <img src="./img/Adidas Logo.png" width="50" height="50" alt="Adidas" class="img-fluid">
                    </a>
                </li>
            </ul>
            <form class="form-inline ml-auto">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/Login">
                            <span class="bi bi-person-circle"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/carrito">
                            <span class="bi bi-cart-fill"></span>
                        </a>
                    </li>
                </ul>
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </form>
        </div>
    </nav>
</header>

