<main>
    <div class="mt-24">
        <div class="flex justify-between items-center">
            <div class="ml-10 w-[500px]">
                <h1 class="text-cyan-500 font-bold text-2xl flex justify-center">Bienvenido a SneakPeek</h1>
                <p class="text-lg text-center italic mt-5 leading-8">
                    En <span class="text-cyan-500 font-bold">SneakPeek</span>, no solo vendemos zapatillas; vivimos y respiramos la cultura
                    sneaker. Nuestra misión va más allá de ofrecer productos, buscamos ser la chispa
                    que enciende la pasión por la autenticidad y la individualidad a través del calzado.
                    Desde nuestro inicio en [Año de Fundación], nos hemos dedicado a construir una
                    experiencia que va más allá de la moda; es un estilo de vida.   
                </p>
            </div>
            <div class="bg-gradient-to-t from-gray-700 via-gray-900 to-black rounded-full w-96 h-96 flex justify-center items-center mr-32">
                <img style="filter: drop-shadow(1px 1px 10px #1AC1EC);" class="w-80 h-73 transition-all hover:-translate-y-5 duration-1000 " src="/img/teni-removebg-preview.png" alt="">
            </div>
        </div>
        <div class="m-24 mt-32 items-center flex justify-between">
            <img class="w-96 h-64 rounded-md" src="/img/historia.jpeg" alt="">
            <div class="w-[500px] h-[300px]  scroll-smooth overflow-auto about pr-10">
                <h1 class="font-bold text-3xl flex justify-center text-gray-700">Nuestra Historia</h1>
            
            <p class=" text-center text-xl leading-8 mt-5">
                En el corazón de SneakPeek yace una historia apasionante de amantes de las
                zapatillas que se unieron para crear un destino donde la comunidad sneaker podría
                florecer. Lo que comenzó como una tienda local se ha transformado en una marca
                global, siempre a la caza de las últimas tendencias y exclusivos lanzamientos que
                definen la cultura sneaker.
            </p>
                <h1 class="font-bold text-2xl flex justify-center text-gray-700 mt-7">Nuestra Filosofía</h1>
                
                <p class=" text-center text-xl leading-8 mt-5">
                    En SneakPeek, creemos en la autenticidad como un valor fundamental. Cada par
                    de zapatillas cuenta una historia única, y queremos que encuentres la tuya. Nuestra
                    cuidada selección de marcas líderes y modelos exclusivos refleja nuestro
                    compromiso con la calidad y la originalidad. No vendemos solo productos;
                    ofrecemos piezas que expresan tu personalidad.
                </p>

                <h1 class="font-bold text-2xl flex justify-center text-gray-700 mt-7">Compromiso con la Autenticidad</h1>
                
                <p class=" text-center text-xl leading-8 mt-5">
                    En un mundo saturado de imitaciones, SneakPeek destaca por su compromiso
                    inquebrantable con la autenticidad. Trabajamos directamente con las marcas más
                    influyentes para garantizar que cada sneaker que llega a tus manos sea genuino y
                    lleve consigo el sello de calidad que nos define
                </p>

                <h1 class="font-bold text-2xl flex justify-center text-gray-700 mt-7">Nuestra Comunidad</h1>
                <p class=" text-center text-xl leading-8 mt-5">
                    SneakPeek no es solo una tienda; es una comunidad vibrante. Únete a nosotros en
                    eventos exclusivos, descubre lanzamientos anticipados y conecta con otros
                    apasionados sneakerheads. Nuestras redes sociales son un espacio para la
                    inspiración, la creatividad y la celebración de la cultura sneaker. Juntos,
                    construimos más que una marca; construimos una familia sneaker.
                </p>

                <h1 class="font-bold text-2xl flex justify-center text-gray-700 mt-7">Valores que nos definen</h1>
                <div class="flex justify-center flex-col mt-6">
                    <div class="flex justify-center space-x-1">
                    <svg class="h-6 w-6 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                      </svg> 
                        <span class="text-cyan-500 text-bold">Autenticidad </span>
                    </div>
                      <p class="text-center mt-4">Creemos en la honestidad, en ser verdaderos con nosotros
                        mismos y con nuestros clientes.</p>
                </div>

                <div class="flex justify-center flex-col mt-6">
                    <div class="flex justify-center space-x-1">
                    <svg class="h-6 w-6 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                      </svg> 
                        <span class="text-cyan-500 text-bold">Innovación </span>
                    </div>
                      <p class="text-center mt-4">Estamos en constante búsqueda de lo nuevo, lo fresco y lo
                        innovador en el mundo de las zapatillas.</p>
                </div>

                <div class="flex justify-center flex-col mt-6">
                    <div class="flex justify-center space-x-1">
                    <svg class="h-6 w-6 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                      </svg> 
                        <span class="text-cyan-500 text-bold">Comunidad </span>
                    </div>
                      <p class="text-center mt-4">La fuerza de SneakPeek radica en nuestra comunidad. Cada
                        sneakerhead es una pieza fundamental de esta familia.</p>
                </div>

                <div class="flex justify-center flex-col mt-6">
                    <div class="flex justify-center space-x-1">
                    <svg class="h-6 w-6 stroke-blue-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z" />
                      </svg> 
                        <span class="text-cyan-500 text-bold">Calidad </span>
                    </div>
                      <p class="text-center mt-4">Nos esforzamos por ofrecer no solo productos, sino experiencias y
                        estándares de calidad excepcionales.</p>
                </div>
            </div>
        </div>

        <div class="flex justify-center mt-10">
            <p class="bg-clip-text text-transparent bg-gradient-to-r from-gray-500 to-black text-2xl font-bold ">
                Gracias por ser parte de la familia SneakPeek
            </p>
            <br>
            <br>
            <br>
            <br>
        </div>
    </div>
</main>