<main>

    <div class="flex flex-col items-center mt-16 font-semibold text-center">
        <h1 class="text-4xl">¡Gracias por elegir <span class="text-cyan-500">SneakPeek!</span></h1>
        <p class="mt-8 w-[500px] font-normal leading-7">
            Estamos comprometidos a ofrecerte productos de alta calidad y un servicio excepcional. Si por alguna razón no estás completamente satisfecho con tu compra, estamos aquí para ayudarte. A continuación, encontrarás nuestra política de devoluciones.
        </p>
    </div>
    
    <div class="grid grid-cols-3 gap-8 mt-32">
        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-center">Período de <span class="text-cyan-500">Devolución</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Aceptamos devoluciones dentro de los 30 días posteriores a la recepción de tus sneakers. Queremos asegurarnos de que tengas tiempo suficiente para evaluar tu compra y tomar una decisión informada.
                </p>
            </div>
        </div>
    
        <div class="font-semibold transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black rounded-md p-4">
                <h1 class="text-2xl text-center">Condiciones para la <span class="text-cyan-500">Devolución</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    <div class="flex">
                    <svg class="w-6 h-6 text-cyan-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg> 
                    <span class="text-normal">
                        Los sneakers deben estar en su estado original, sin usar y en su empaque
                        original
                    </span>
                </div>
                </p>

                <p class="mt-2 font-normal leading-7 text-center">
                    <div class="flex">
                    <svg class="w-6 h-6 text-cyan-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg> 
                    <span class="text-normal">
                        Asegúrate de que todos los accesorios y etiquetas estén intactos.
                    </span>
                </div>
                </p>

                <p class="mt-2 font-normal leading-7 text-center">
                    <div class="flex">
                    <svg class="w-6 h-6 text-cyan-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
                    </svg> 
                    <span class="text-normal">
                        Se requiere el comprobante de compra o recibo original.
                    </span>
                </div>
                </p>
            </div>
        </div>
        
        <div class="font-semibold mr-2 transition-all duration-700 hover:-translate-y-5">
            <div class="w-[400px] h-[250px] border-2 border-black items-center rounded-md p-4 scroll-smooth overflow-auto">
                <h1 class="text-2xl text-center">Procedimientos de <span class="text-cyan-500">Devolución</span></h1>
        

                <div class="mt-4">
                    <h2 class="font-semibold text-xl text-center">Contactanos</h2>
                    <p class="mt-2 font-normal leading-7 text-center">
                        Para iniciar el proceso de devolución, comunícate con nuestro equipo de servicio al cliente a través de correo electrónico o número de teléfono dentro del período de devolución.
                    </p>
                </div>
        

                <div class="mt-8">
                    <h2 class="font-semibold text-xl text-center">Formulario de Devolución</h2>
                    <p class="mt-2 font-normal leading-7 text-center">
                        Te proporcionaremos un formulario de devolución que deberás completar con la información necesaria. Esto nos ayudará a agilizar el proceso.
                    </p>
                </div>
        
                <div class="mt-8">
                    <h2 class="font-semibold text-xl text-center">Embalaje y Envío</h2>
                    <p class="mt-2 font-normal leading-7 text-center">
                        Empaqueta los sneakers de manera segura en su caja original y envíalos a la dirección que te proporcionaremos en el formulario de devolución. Los gastos de envío de la devolución serán responsabilidad del cliente, a menos que la devolución sea debida a un error nuestro.
                    </p>
                </div>
            </div>
        </div>
        

        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-center">Inspección y <span class="text-cyan-500">Aprobación</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Una vez que recibamos tus sneakers, los inspeccionaremos para asegurarnos de
                    que cumplen con nuestras condiciones de devolución. Si todo está en orden,
                    procederemos a procesar tu devolución o reemplazo.
                </p>
            </div>
        </div>

        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-center">Plazos de <span class="text-cyan-500">Procesamiento</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    El tiempo que tomará procesar tu devolución o reemplazo puede variar, pero nos
                    esforzamos por hacerlo lo más rápido posible. Te mantendremos informado sobre
                    el estado de tu devolución durante todo el proceso.

                </p>
            </div>
        </div>

        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-cyan-500 text-center">Reembolsos o Reemplazos</h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Después de aprobar tu devolución, podrás optar por un reembolso o un reemplazo
                    de los sneakers, según tu preferencia. Si eliges un reembolso, se realizará a través
                    del mismo método de pago utilizado en la compra original.
                </p>
            </div>
        </div>

        <div class="font-semibold ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-cyan-500 text-center">Restricciones y Excepciones</h1>
                <ul class="mt-4 font-normal leading-7 text-center list-disc list-inside">
                    <li class="flex items-start">
                        <svg class="w-6 h-6 mt-1 mr-2 text-cyan-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 1a9 9 0 110 18a9 9 0 010-18zm0 2a7 7 0 100 14a7 7 0 000-14zM6.707 6.707a1 1 0 00-1.414 1.414L8.586 10L5.293 13.293a1 1 0 101.414 1.414L10 11.414l3.293 3.293a1 1 0 101.414-1.414L11.414 10l3.293-3.293a1 1 0 00-1.414-1.414L10 8.586 6.707 5.293z" clip-rule="evenodd" />
                        </svg>
                        No aceptamos devoluciones de sneakers personalizados
                    </li>
                    <li class="flex items-start mt-2">
                        <svg class="w-20 h-6 mt-1 mr-2 text-cyan-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M10 1a9 9 0 110 18a9 9 0 010-18zm0 2a7 7 0 100 14a7 7 0 000-14zM6.707 6.707a1 1 0 00-1.414 1.414L8.586 10L5.293 13.293a1 1 0 101.414 1.414L10 11.414l3.293 3.293a1 1 0 101.414-1.414L11.414 10l3.293-3.293a1 1 0 00-1.414-1.414L10 8.586 6.707 5.293z" clip-rule="evenodd" />
                        </svg>
                        Los sneakers perecederos, como algunos modelos de edición limitada, pueden tener restricciones especiales de devolución. Esto se indicará claramente al realizar la compra.
                    </li>
                </ul>
            </div>
        </div>

        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-center">Contacto de Atención al <span class="text-cyan-500">Cliente</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Si tienes alguna pregunta o necesitas ayuda con tu devolución, no dudes en
                    contactar a nuestro equipo de servicio al cliente a través de correo electrónico o
                    número de teléfono.
                </p>
            </div>
        </div>

        <div class="font-semibold  ml-2 transition-all duration-700 hover:-translate-y-5">
            <div class="border-2 border-black items-center rounded-md p-4 ">
                <h1 class="text-2xl text-center">Cambios en las Políticas de <span class="text-cyan-500">devolución</span></h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Nos reservamos el derecho de realizar cambios en nuestra política de devoluciones
                    en cualquier momento. Los cambios se harán efectivos a partir de la fecha de
                    actualización en esta página. Te recomendamos revisar esta política
                    periódicamente.
                </p>
            </div>
        </div>

        <div class="font-semibold  ml-2   transition-all duration-700 hover:translate-x-10">
            <div class="border-2 border-black items-center rounded-md p-4">
                <h1 class="text-2xl text-center text-cyan-500">Legislación Aplicable</h1>
                <p class="mt-4 font-normal leading-7 text-center">
                    Esta política de devoluciones se rige por las leyes locales y regulaciones aplicables.
                    Si tienes alguna pregunta adicional o inquietud, no dudes en contactarnos.
                    Estamos aquí para brindarte la mejor experiencia de compra en sneakers.
                </p>
            </div>
        </div>
        
        
    </div>
    <div class="flex items-center justify-center mb-14 mt-10">
        <p class=" text-3xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-cyan-500  to-indigo-500 animate-pulse transition-all duration-1000 hover:-translate-y-10">
            ¡Gracias por confiar en SneakPeek!
        </p>
    </div>
</div>
</main>