<main> 
<div class="container-fluid">
  <div class="row">
    <!-- Contenedor de Filtros y cuadro -->
    <div class="col-md-3">
      <div class="card" id="filters-card">
        <div class="card-body">
          <h4 class="card-title">Filtros</h4>

          <!-- Filtro por genero(sexo) -->
          <div class="form-group genero">
            <label class="labelfiltro">Género</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterHombre">
              <label class="form-check-label" for="filterHombre">Hombre</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterMujer">
              <label class="form-check-label" for="filterMujer">Mujer</label>
            </div>
          </div>

          <!-- Filtro por material -->
          <div class="form-group material">
            <label class="labelfiltro">Material</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterCuero">
              <label class="form-check-label" for="filterCuero">Cuero</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterCueroSintetico">
              <label class="form-check-label" for="filterCueroSintetico">Cuero Sintético</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterPlastico">
              <label class="form-check-label" for="filterPlastico">Plástico</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterTela">
              <label class="form-check-label" for="filterTela">Tela</label>
            </div>
          </div>

          <!-- Filtro por marca -->
          <div class="form-group marca">
            <label class="labelfiltro">Marca</label>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterNike">
              <label class="form-check-label" for="filterNike">Nike</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterJordan">
              <label class="form-check-label" for="filterJordan">Jordan</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="filterAdidas">
              <label class="form-check-label" for="filterAdidas">Adidas</label>
            </div>
          </div>

          <!-- Boton de Aplicar -->
          <button class="btn btn-primary" onclick="">Aplicar Filtros</button>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
</main>