<main>

  <!-- Página individual del sneaker -->
  <div class="container mt-3">
    <div class="row">
      <div class="col-md-6 order-md-1 d-flex justify-content-center align-items-center">
        <img src="./img/Nikes.webp" alt="Sneaker 1" id="mainImage" class="img-fluid">
      </div>
      <div class="col-md-6 order-md-2">

        <div class="sneakerDetails mt-lg-5">
          <h2>Nike Air Force Black & Blue</h2>
          <h5>Sneakers - Unisex</h5>
          <p>
            <bold>$199.99</bold>
          </p>
          <section>
            <h5>Tallas:</h5>
            <section class="sizeBtn">
              <button class="btn size">7</button>
              <button class="btn size">8</button>
              <button class="btn size">9</button>
              <button class="btn size">10</button>
              <button class="btn size">11</button>
              <button class="btn size">12</button>
            </section>
          </section>
          <section>
            <h5 id="marca">Marca:</h5>
            <p name="marcaP">Nike</p>
          </section>
          <section>
            <h5 id="modelo">Modelo:</h5>
            <p name="modeloP">Blueberry</p>
          </section>
          <section>
            <h5 id="material">Material:</h5>
            <p name="materialP">Cuero</p>
          </section>
          <section>
            <h5 id="disponibilidad">Disponibilidad:</h5>
            <p name="disponibilidadP">En stock</p>
          </section>
          <section>
            <h5 id="descripcion">Descripción:</h5>
            <p name="descripcionP">Nike negro y azul</p>
          </section>
          <section>
            <button class="cartBtn btn-dark">Agregar al carrito</button>
          </section>
        </div>
      </div>
    </div>
  </div>


  <script>
    function changeImage(imagePath) {
      // Cambiar la imagen principal
      document.getElementById('mainImage').src = imagePath;

      // Quitar la clase 'selected' de todas las miniaturas
      var thumbnails = document.querySelectorAll('.thumbnail');
      thumbnails.forEach(function (thumbnail) {
        thumbnail.classList.remove('selected');
      });

      // Agregar la clase 'selected' a la miniatura clicada
      event.target.classList.add('selected');
    }
  </script>
</main>