<main>
      <!-- Tarjeta 1 -->
    <div class="card">
        <img src="sneaker1.jpg" alt="Sneaker 1">
        <div class="card-content">
            <h3>Modelo: Air Max 90</h3>
            <p>Marca: Nike</p>
            <p>Precio: $120</p>
            <p class="availability">Disponible en stock</p>
        </div>
    </div>

    <!-- Tarjeta 2 -->
    <div class="card">
        <img src="sneaker2.jpg" alt="Sneaker 2">
        <div class="card-content">
            <h3>Modelo: Superstar</h3>
            <p>Marca: Adidas</p>
            <p>Precio: $90</p>
            <p class="unavailability">Agotado</p>
        </div>
    </div>

    <!-- Tarjeta 3 -->
    <div class="card">
        <img src="sneaker3.jpg" alt="Sneaker 3">
        <div class="card-content">
            <h3>Modelo: RS-X</h3>
            <p>Marca: Puma</p>
            <p>Precio: $80</p>
            <p class="availability">Disponible en stock</p>
        </div>
    </div>

</main>